body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

* {
  box-sizing: inherit;
}

/* COLORS */

#colors {
  position: fixed;
  left: 30px;
  top: 30px;

  width: 105px;
}

#colors>div {
  display: block;
  float: left;
  width: 33px;
  height: 33px;
  margin-right: 2px;
  margin-bottom: 2px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
}

#colors>div.enabled {
  border: 4px black inset;
}

/* ZOOM */

#zoom>div {
  display: block;
  width: 50px;
  height: 50px;
  background: #333;
  margin-bottom: 4px;
  background: transparent;
}

#zoomin>img,
#zoomout>img {
  width: 100%;
  height: 100%
}

#zoom {
  position: fixed;
  top: 30px;
  right: 30px;
}

/* POSITION */

#position {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background: rgba(255, 255, 255, 0.5);
  padding: 3px;
  user-select: none;
}

/* INSTRUCTION */

#instruction {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: rgba(255, 255, 255, 0.5);
  padding: 3px;

  text-align: left;
}

/* LOADER */

#loader {
  position: fixed;
  top: 45%;
  left: 45%;
}

#spinner {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* LOADED */

#loaded {
  display: none;
  min-width: 100%;
  width: fit-content;
  min-height: 100%;
  height: fit-content;

  /* fallback for old browsers */
  background: #67B26F;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(45deg, #4ca2cd, #67B26F);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(45deg, #4ca2cd, #67B26F);

  text-align: center;
}

#canvas {
  cursor: crosshair;
  box-shadow: 0px 0px 40px 10px white;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 100px;
}